body{background-image: url(../img/bg.jpg); background-repeat: repeat-x;}

/***AULA 21
#exemplo{width: 200px; height: 200px; background-color: #FF0000FF; transition: all 2s linear;}
#exemplo:hover {width: 350px; height: 350px; background-color: #B200FFFF;}
*/

/***
#exemplo{border-bottom: solid 5px #DC2B22FF; outline: dotted 5px #57CA34FF;}*/

/****AULA 19
#conteudo{width: 600px;height: 1200px;background-color: #E62518FF; position: relative;}
#texto{width: 500px;background-color: #41CF2FFF;position: fixed;left:0;top:40px;}
*/

/****AULA 18
#base{background-color: #62DC22FF; width: 600px; height: 600px;}
#esquerda{background-color: #EF0F35FF; width: 300px; height: 300px; float: left;}
#direita{background: #387EC6FF; width: 300px; height: 300px;float: right;}
*/

/****AULA 17
#cores {width: 200px; height: 200px;background: radial-gradient(red, green);}
*/

/****AULA 13 e 14
*{font-size: 100%;}
@font-face{
	font-family: casual-caps;
	src: url(fonts/CasualCaps.woff);
}
@font-face{
	font-family: sand-brush;
	src: url(fonts/SandbrushDemo.woff);
}
p{font-family: sand-brush, casual-caps; font-size: 2.5em;} /* 40px (alvo) / 16px(contexto) = 2.5em
h1{font-family: casual-caps, sand-brush; font-size: 2.5em;}
*/

/****Aula 12
#bloco {background-color: green; width: 300px; height: 150px; border-radius: 20px 50px 100px 200px;}
*/

/****AULA 11
#conteudo{background-color: #D7272DFF; width: 300px; height: 50px; overflow: auto;}
#conteudo p {opacity: 0.9s;}
*/

/****Aula 10
*{box-sizing: border-box;}
#conteudo{background-color: #FF0000FF; width: 300px;padding: 20px;box-shadow: 10px 10px 5px#7FFF8EFF}
*/

/**** AULA 06 E 09 TEXT
p {color:#E51938FF; text-align: justify; text-indent: 20px;line-height: 25px; direction: rtl; letter-spacing: 2px; word-spacing: 3px;}
h1{text-align: left; text-decoration: underline; text-shadow: 3px 3px 4px #BD41BBFF}
h2{text-align: right; text-decoration: overline;}
h3{text-align: center; text-decoration: line-through;}
*/

/**** aula 07 Margin / Padding
#exemplo {background-color: #00FF21FF; color: #FFFFFFFF; width: 500px; padding: 10px 20px 30px 30px;} 
/*Padding individual rodando do topo até a esquerda. (topo, direita, baixo e esquerda)*/
/*#exemplo2{background-color: #FF008EFF; color: #FFFFFFFF; width: 500px; margin-top: 20px; margin-left: 20px;}
*/

/**** AULA 06 Dimensão
#conteudo {min-width: 500px; max-width: 7
0%; min-height: 100px; background-color: #00FF90FF; color: #FFFFFFFF; padding: 20px;}
*/

/****  AULA 05 Class e ID
.texto-principal {color:red; text-align: center;}
.fundo-principal {background-color: #00FF2180; padding: 20px;}
#conteudo{background-color: #7F92FFFF ; padding: 20px; color: #00FF21FF}
*/

/**** AULA 04 Seletores
h1,h2,p{color:#FF0000FF; text-align:center;}
*/

/***** AULA 02 E 03
*{margin:0; padding:0;}

h1 {color:blue;font-size:50px;}
p{color:green;font-size:12px;}

input[type="text"]{width:200px; background-color:#ccc; height:40px; border:none;}
input[name="email"]{width:200px; background-color:#ccc; height:40px; border:none;}
input[type="submit"]{width:50px; background-color:green; height:40px; border:none; cursor:pointer; color:#fff;}
*/

/* AULA 01 Aplicando CSS e Sintaxe
h1{color:blue; font-size:60px; font-family:tahoma;}
*/